<!-- Product Form -->
<div class=container>
  
<ng-template [ngIf]="model === undefined">
  <div class="top-div">
    <h1 class="title">Edit Product</h1>

    <mat-form-field appearance="outline">
      <mat-label>Collection</mat-label>
      <mat-select required [(ngModel)]="selectedShop" name="collection" (selectionChange)=getCategories(selectedShop)
        (selectionChange)=clearCat() (selectionChange)=getProducts(selectedShop,selectedCategory,selectedSubcategory)>
        <mat-option *ngFor="let col of collections" [value]="col.name">{{col.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-template [ngIf]="selectedShop !== ''">
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="selectedCategory" name="category"
          (selectionChange)=getSubcategories(selectedShop,selectedCategory) (selectionChange)=clearSub() (selectionChange)=getProducts(selectedShop,selectedCategory,selectedSubcategory)>
          <mat-option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>

    <ng-template [ngIf]="selectedCategory !== ''">
      <mat-form-field appearance="outline">
        <mat-label>Subcategory</mat-label>
        <mat-select [(ngModel)]="selectedSubcategory" name="subcategory"
          (selectionChange)=getProducts(selectedShop,selectedCategory,selectedSubcategory)>
          <mat-option *ngFor="let sub of subcategories" [value]="sub.name">{{sub.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </div>
</ng-template>


<ng-template [ngIf]="selectedShop && model === undefined">

  <div class="product-grid">
    <h3 class="title">Active Products</h3>
    <div class=headers>
      <div class=image-container>
      </div>

      <p class=name>Name</p>

      <p class=sku>SKU</p>
      <p class=color>Color</p>
      <p class=price>Unit Price</p>
      <div class=remove-container>
      </div>
    </div>

    <div *ngFor="let prod of activeProducts; index as i" class=product-box id=product-{{i}}>
      <div class=image-container>
        <img src={{prod.images[0]}}>
      </div>

      <p class=name>{{prod.name}}</p>

      <p class=sku>SKU</p>
      <p class=color>{{prod.color}}</p>
      <p class=price>${{prod.price}}</p>
      <div class=select-container>
        <button class="select-button" (click)=selectProduct(i)>Select</button>
      </div>
    </div>
  </div>

  <ng-template [ngIf]=graveyard.length>
    <div class="product-grid">
      <h3 class="title">Graveyard</h3>
      <div class=headers>
        <div class=image-container>
        </div>

        <p class=name>Name</p>

        <p class=sku>SKU</p>
        <p class=color>Color</p>
        <p class=price>Unit Price</p>
        <div class=remove-container>
        </div>
      </div>

      <div *ngFor="let prod of graveyard; index as i" class=product-box id=product-{{i}}>
        <div class=image-container>
          <img src={{prod.images[0]}}>
        </div>

        <p class=name>{{prod.name}}</p>

        <p class=sku>SKU</p>
        <p class=color>{{prod.color}}</p>
        <p class=price>${{prod.price}}</p>
        <div class=select-container>
          <button class="select-button" (click)=activateProduct(i)>Activate</button>
        </div>
        
      </div>
    </div>
  </ng-template>
</ng-template>

</div>