<div class=main id=main>
  <div class=draggable-container id=draggable-container>

    <div class=draggable-item>
      ONE
    </div>

    <div class=draggable-item>
      TWO
    </div>

    <div class=draggable-item>
      Three
    </div>

  </div>


  <div class=centered-container>



    <div class="button-container draggable">
      <button class=white-button (click)=addQuestion()>Add Question</button>
    </div>


    <ng-template [ngIf]=add>
      <form class=add-question-form [formGroup]="FormGroup">

        <div class=quill-wrapper>


          <quill-editor formControlName=question class=quill-question format=object theme=snow placeholder=Question
            [modules]="{ 
      toolbar: [
        ['bold', 'italic', 'underline', 'strike'],       
                 
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],     
        [{ 'indent': '-1'}, { 'indent': '+1' }],                                 
    
        [{ 'size': ['small', false, 'large', 'huge'] }],
       
        [{ 'color': [] }, { 'background': [] }],          

        [{ 'align': [] }]                  
      ]
    }"></quill-editor>
        </div>

        <div class=quill-wrapper>
          <quill-editor formControlName=answer class=quill-answer format=object theme=snow placeholder=Answer [modules]="{ 
      toolbar: [
        ['bold', 'italic', 'underline', 'strike'],       
                 
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],     
        [{ 'indent': '-1'}, { 'indent': '+1' }],                                 
    
        [{ 'size': ['small', false, 'large', 'huge'] }],
       
        [{ 'color': [] }, { 'background': [] }],          

        [{ 'align': [] }]                  
      ]
    }"></quill-editor>
        </div>
      </form>

      <div class=button-container>
        <button class=dark-blue-button (click)=submit()>Submit</button>
      </div>
    </ng-template>
  </div>
</div>