<div class=container>
  <div class=message-container>
    <h1 class=title>Message</h1>
    <mat-form-field class="half" appearance=outline>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]=message.name readonly=true>
    </mat-form-field>

    <mat-form-field class="half" appearance=outline>
      <mat-label>Phone Number</mat-label>
      <input matInput [(ngModel)]=message.phone readonly=true>
    </mat-form-field>
    <mat-form-field class="full" appearance=outline>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]=message.email readonly=true>
    </mat-form-field>


    <mat-form-field class="full" appearance=outline>
      <mat-label>Message</mat-label>
      <textarea cdkTextareaAutosize matInput [(ngModel)]=message.message readonly=true></textarea>
    </mat-form-field>

    <div class=status-div>
      <h2 class=title>Status</h2>
        <span>
            Open <mat-slide-toggle name="status" color=primary [(ngModel)]="message.status" (change)=update()>Closed</mat-slide-toggle>
        </span>
    </div>


  </div>




</div>