.main {
    background: white;
    min-height: 200vh;
}


#center-panel {
    width: 80vw;
    height: 500px;
    margin-top: 66px;
    margin-left: 10vw; 
}

#title {
    font-family: 'Montserrat';
    letter-spacing: 1px;
    padding: 20px;
    margin: 0;
 }

#content-manager {
     width: 80vw;
     margin: 0;
     
     
 }

 .choose-component-button-container {
     width: 80vw;
     height: auto;
     background: white;
 }

 .choose-component-button {
    display: inline-block;
    
    width: 225px;
    height: 50px;
    margin: 25px;
    font-family: 'Montserrat';  
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color:  black;
    background: rgb(158,158, 158);
    border: none;
    border: 1px solid rgb(158, 158, 158);
 }

 .buttons {
     display: inline-block;
     width: 80vw;
     border: 1px solid black;
     border-bottom: none;
     margin-bottom: -3px;
 }

 .prod-cat {
     display: inline-block;
     float: left;
     font-family: Montserrat;  
     text-align: center;
     color:  black;
     background: white;
     border: none;
     
 }

 .form {
    display: inline-block;
     float: right;
     font-family: Montserrat;  
     text-align: center;
     color:  black;
     background: whitesmoke;
     border: none;
     
 }

 .product-manager {
     background: blue;
     
 }


@media only screen and (max-width: 991px) {
    

   


}   


@media only screen and (min-width: 992px) {
    

    .prod-cat {
        height: 66px;
        width: 100px;
        font-size: 14px;
    }

    .form {
        height: 66px;
        width: 100px;
        font-size: 14px;
    }

    .product-manager {
        margin-top: 0px;
    }

   


    
   
}


button:focus {outline:0;}