<div class=main>
  <div class=toolbar>
    <div class=toolbar-button-container [style.margin-bottom]="toolbar ? '0px' : '-31px'">
        <button class='save-button' (click)=save()>Save</button>
        <button class='preview-button dark-blue-button' (click)=PageService.togglePreview()>
          <ng-template [ngIf]=PageService.preview>Edit</ng-template>
          <ng-template [ngIf]=!PageService.preview>Show Preview</ng-template>
        </button>
        <button class="toolbar-button white-button" (click)=toggleToolbar()>
          <ng-template [ngIf]=!toolbar>
              <mat-icon>add_circle_outline</mat-icon>
          </ng-template>
          <ng-template [ngIf]=toolbar>
              <mat-icon>remove_circle_outline</mat-icon>
          </ng-template>
        </button>
    </div>
   
   
     

   
    <div class=block-menu>
      <div class=background>
          <ng-template [ngIf]=toolbar>
          <!-- Choose Type -->
          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select required [(ngModel)]="type" name="selector">
              <mat-option *ngFor="let opt of options" [value]=opt>{{opt}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- TEXT -->
          <ng-template [ngIf]="type==='Text'">
            <!-- WIDTH -->
            <mat-form-field appearance="outline">
              <mat-label>Width</mat-label>
              <mat-select required [(ngModel)]="style.width" name="selector">
                  <mat-option value="30%">30%</mat-option>
                  <mat-option value="40%">40%</mat-option>
                  <mat-option value="50%">50%</mat-option>
                  <mat-option value="60%">60%</mat-option>
                  <mat-option value="70%">70%</mat-option>
                <mat-option value="80%">80%</mat-option>
                <mat-option value="90%">90%</mat-option>
                <mat-option value="100%">100%</mat-option>
              </mat-select>
            </mat-form-field>

            <button class="dark-blue-button insert-block" (click)="insertBlock()">Add Block</button>
          </ng-template>
          <!-- IMAGE -->
          <ng-template [ngIf]="type==='Image'">
            <!-- WIDTH -->
            <mat-form-field appearance="outline">
              <mat-label>Width</mat-label>
              <mat-select required [(ngModel)]="style.width" name="selector">
                  <mat-option value="30%">30%</mat-option>
                  <mat-option value="40%">40%</mat-option>
                  <mat-option value="50%">50%</mat-option>
                  <mat-option value="60%">60%</mat-option>
                  <mat-option value="70%">70%</mat-option>
                <mat-option value="80%">80%</mat-option>
                <mat-option value="90%">90%</mat-option>
                <mat-option value="100%">100%</mat-option>
              </mat-select>
            </mat-form-field>

            <button class="dark-blue-button insert-block" (click)="insertBlock()">Add Block</button>
          </ng-template>
          <!-- VIDEO -->
          <ng-template [ngIf]="type==='Video'">
            <!-- NAME -->
            <mat-form-field appearance="outline">
              <mat-label>URL (Youtube or Vimeo)</mat-label>
              <input matInput type="text" name="url" [(ngModel)]="videoURL">
            </mat-form-field>

            <button class="dark-blue-button insert-block" (click)="insertBlock()">Add Block</button>

          </ng-template>
        </ng-template>
      </div>
    </div>
  

    <!--
<div class=block-menu>
      <button class="block-menu-button white-button" (click)="insertBlock('Text')">Text</button>
      <button class="block-menu-button white-button" (click)="insertBlock('Image')">Image</button>
      <button class="block-menu-button white-button" (click)="insertBlock('Video')">Video</button>
      <button class="block-menu-button white-button" (click)="insertBlock('Spacer')">Spacer</button>
    </div>
-->

  </div>


  <div class=page-container>

    <!-- TITLE -->
    <div class=title-container>
      <mat-form-field appearance="classic">
        <input matInput placeholder="Page Title" type="text" name="title" [(ngModel)]="model.title">
      </mat-form-field>
    </div>


    <div class="content-container draggable-container">


      <ng-template Block></ng-template>




      <!--   event.item.element.nativeElement.children[0].currentSrc   

    <div class="content-container" cdkDropList cdkDropListOrientation="horizontal" #blocksList="cdkDropList"
      [cdkDropListData]="model.blocks" (cdkDropListDropped)="drop($event)">

      <ng-template cdkDrag cdkDragRootElement=".block" Block></ng-template>

    </div>
    -->
    </div>
  </div>



</div>