div.main {
    width: 100%;
    height: 100vh;
    text-align: center;
    div.chart-container {
        padding-top: 40px;
        width: 90%;
        height: 60vh;
        display: inline-block;
    }

}