<div class="block draggable-item" [ngStyle]=data.style [style.boxShadow]="PageService.preview ? 'none' :  '0px 2px 4px #d9d9d9'">

  <div class=quill-wrapper>
    <quill-editor [(ngModel)]=data.text [ngModelOptions]='{standalone: true}' class=quill-editor format=html
      theme=bubble bounds=.quill-wrapper placeholder="Text Block" [modules]="{ 
        toolbar: [
          ['bold', 'italic', 'underline', 'strike'],       
          ['blockquote', 'code-block'],           
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],     
          [{ 'indent': '-1'}, { 'indent': '+1' }],                                 
      
          [{ 'size': ['small', false, 'large', 'huge'] }],
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          [{ 'color': [] }, { 'background': [] }],          
          [{ 'align': [] }],
          ['clean']                 
        ]
      }"></quill-editor>
  </div>

  <ng-template [ngIf]=!PageService.preview>
  <div class=style-container>
  
    <button class='white-button style-button' (click)=toggleStyles()>

      <ng-template [ngIf]=showStyles>
        <mat-icon>expand_more</mat-icon>
      </ng-template>

      <ng-template [ngIf]=!showStyles>
        <mat-icon>settings</mat-icon>
      </ng-template>
    </button>
    <div class=swap-container>
        <button class=down (click)="PageService.swap(data.sortOrder, 'down')">
            <mat-icon>arrow_downward</mat-icon>
        </button>
        <button class=up (click)="PageService.swap(data.sortOrder, 'up')">
            <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>
    <ng-template [ngIf]=showStyles>
      <div class=style-form-container>
        <mat-form-field appearance="outline">
          <mat-label>Width</mat-label>
          <mat-select required [(ngModel)]="data.style.width" name="width">
              <mat-option value="30%">30%</mat-option>
              <mat-option value="40%">40%</mat-option>
              <mat-option value="50%">50%</mat-option>
              <mat-option value="60%">60%</mat-option>
              <mat-option value="70%">70%</mat-option>
            <mat-option value="80%">80%</mat-option>
            <mat-option value="90%">90%</mat-option>
            <mat-option value="100%">100%</mat-option>
          </mat-select>
        </mat-form-field>
        <!--
<mat-form-field appearance="legacy">
          <mat-label>Height</mat-label>
          <input required matInput class="style-input" type="text" name="height" [(ngModel)]="data.style.height">
        
        </mat-form-field>
-->
       
      </div>
    </ng-template>
  </div>
  </ng-template>



</div>