button:focus {
    outline: 0;
}

.dark {
    background-color: #fbfbfe;
  
    &:before {
      background-color: #fbfbfe;
    }
  
    &:after {
      background-color: #fbfbfe;
    }
  }
  
  .light {
    background-color: black;
    &:before {
      background-color: black;
    }
    &:after {
      background-color: black;
    }
  }

.menu-button {
    position: absolute;
    left: 5px;
    top: 0;
    width: 66px;
    height: 66px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    color: white;
    border: none;
}



mat-sidenav-container {
    min-height: 100vh;
    overflow: visible;
    mat-sidenav {
        min-height: 100vh;
    }
    mat-sidenav-content {
        min-height: 100vh;
        overflow: visible;
    }
}
    




  