<app-header></app-header>

<button class="hamburger hamburger--spring menu-button" [ngClass]="theme ? 'light' : 'dark'" type="button" (click)=sidenav.toggle() (click)=collapse()>
  <span class="hamburger-box">
    <span class="hamburger-inner" [ngClass]="theme ? 'light' : 'dark'"
    ></span>
  </span>
</button>

<mat-sidenav-container class="example-container">

  <mat-sidenav mode="side" #sidenav>
    <app-admin-navbar>
    </app-admin-navbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class=router-outlet>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

