.block {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    //min-height: 200px;
    width: 40%;
    //padding: 20px;
    margin-bottom: 20px;
  
    
   
  
    .style-container {
      width: 100%;
      text-align: left;
      //background: grey;
      .handle {
          cursor: grab;
          float: right;
          height: 25px;
          width: 25px;
          text-align: center;
      }

      .swap-container {
        float: right;
        
        button.up {
          display: inline-block;
          background: transparent;
          border: none;
          cursor: pointer;
        }
  
        button.down {
          display: inline-block;
          background: transparent;
          border: none;
          cursor: pointer;
          
        }
      }
  
      .style-button {
        
        background: transparent;
        box-shadow: none;
        width: 40px;
        height: 25px;
        border-radius: 10px;
      }
  
      .style-form-container {
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
        text-align: left;
  
        mat-form-field {
          width: 60px;
          margin-right: 10px;
        }
      }
    }
  }
  
  
  